name: Reusable Build and Merge Workflow - Zephyr

on:
  workflow_call:
    inputs:
      image_name:
        description: "Image name for the build"
        required: true
        type: string
      cheri_zephyr_version:
        description: "Zephyr Version"
        required: true
        type: string
      repo_url:
        description: "Zephyr repository URL"
        required: true
        type: string
      branch:
        description: "Zephyr branch to pull source"
        required: true
        type: string
      commit_hash:
        description: "Zephyr commit hash to build"
        required: true
        default: "HEAD"
        type: string
      enabled_tools:
        description: "Which tools are included (isav9 or rvy)"
        required: true
        type: string

env:
  REPO_DIR: ${{ github.workspace }}/volatile/repo
  GHCR_ORG_NAME: the-capable-hub
  DOCKER_ORG_NAME: capablehub
  TARGET: riscv64c

jobs:
  build-and-push:
    runs-on: the-capable-hub-aws-ci-${{ matrix.arch }}
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
    steps:
      - name: Checkout workflow repository
        uses: actions/checkout@v4
        with:
          path: ${{ env.REPO_DIR }}
     
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_IO_NAME }}
          password: ${{ secrets.DOCKER_IO_TOKEN }}

      - name: Build and push arch specific images
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.REPO_DIR }}
          file: ${{ env.REPO_DIR }}/zephyr/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.GHCR_ORG_NAME }}/${{ inputs.image_name }}:${{ inputs.cheri_zephyr_version }}-${{ env.TARGET }}-${{ inputs.enabled_tools }}-${{ matrix.arch }}
            docker.io/${{ env.DOCKER_ORG_NAME }}/${{ inputs.image_name }}:${{ inputs.cheri_zephyr_version }}-${{ env.TARGET }}-${{ inputs.enabled_tools }}-${{ matrix.arch }}
          platforms: linux/${{ matrix.arch }}
          build-args: |
            ZEPHYR_REPO_URL=${{ inputs.repo_url }}
            ZEPHYR_BRANCH=${{ inputs.branch }}
            ZEPHYR_COMMIT_HASH=${{ inputs.commit_hash }}
            ENABLED_TOOLS=${{ inputs.enabled_tools }}

  merge-images:
    needs: build-and-push
    runs-on: the-capable-hub-aws-ci-arm64
    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_IO_NAME }}
          password: ${{ secrets.DOCKER_IO_TOKEN }}

      - name: Create and Push Multi-Arch Manifest
        run: |
          IMAGE_TAG=${{ inputs.cheri_zephyr_version }}-${{ env.TARGET }}-${{ inputs.enabled_tools }}

          # Merge and push multi-arch images
          docker buildx imagetools create \
            ghcr.io/${{ env.GHCR_ORG_NAME }}/${{ inputs.image_name }}:$IMAGE_TAG-amd64 \
            ghcr.io/${{ env.GHCR_ORG_NAME }}/${{ inputs.image_name }}:$IMAGE_TAG-arm64 \
            -t ghcr.io/${{ env.GHCR_ORG_NAME }}/${{ inputs.image_name }}:$IMAGE_TAG

          docker buildx imagetools create \
            docker.io/${{ env.DOCKER_ORG_NAME }}/${{ inputs.image_name }}:$IMAGE_TAG-amd64 \
            docker.io/${{ env.DOCKER_ORG_NAME }}/${{ inputs.image_name }}:$IMAGE_TAG-arm64 \
            -t docker.io/${{ env.DOCKER_ORG_NAME }}/${{ inputs.image_name }}:$IMAGE_TAG
